
<head>
  <style>
    body{
      background-color: red;
    }

    h1{
  font-family:'Lato';
  padding-top: 40px;

}
p{
  font-family: 'Lato';
}
label{
  font-family: 'Lato';
}
.btn{
  border-radius: 20px;
  width: 60%;
  margin-top: 50px;
  font-family: 'Lato';
 
  
}

.topimgr{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

#logo{
width: 100px;
height: 80px;
text-align: right;
position: relative;
left: 120px;
top: -5px;


}
  </style>
</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body"style="height: 650px;width:500px ; background-color: white;color: black;border: none; border:none ;border-radius: 20px;">
        <img src="http://www.marchdrumcorps.com/uploads/1/1/2/9/112991335/s420211399839018682_p43_i1_w1024.jpeg" class="topimgr">
        <h1 class="text-center mb-3">
          Register
        </h1>
        <%- include ('./partials/errormsgs') %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
              style="border-radius: 20px;font-family: 'Lato';"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
              style="border-radius: 20px;font-family: 'Lato';"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
              style="border-radius: 20px;font-family: 'Lato';"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              style="border-radius: 20px;font-family: 'Lato';"
            />
          </div>
          <center><button type="submit" class="btn btn-primary btn-block">
            Register
          </button></center>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a>  <img src="https://www.pinclipart.com/picdir/big/58-589787_human-resource-intern-bhumi-ngo-chennai-hd-clipart.png" id="logo"></p>
       
      </div>
    </div>
  </div>
  </body>